
// block
.c-calendar {
  display: none;
  position: relative;
  z-index: 9;
  width: 100%;
  height: calc(100vh - 118px);
  overflow: auto;
  @extend .o-bg--white-dirty;
  &.is-open {
    display: block;
  }
}

  // element
  .c-calendar__container {
    padding: rem(5) 0 rem(40);
  }
  .c-calendar__head {
    margin-bottom: rem(-14);

    @include breakpoints(small) { margin-bottom: rem(-11); }
    @include breakpoints(medium) { margin-bottom: rem(-40); }
  }
  .c-calendar__body {}

  .c-calendar__box-container {
    display: table;
    width: 100%; max-width: rem(310);
    margin: 0 auto;

    @include breakpoints(small) { max-width: rem(620); }
    @include breakpoints(small) { max-width: rem(1440); }
  }
  .c-calendar__box {
    display: table-cell;
    position: relative;
    float: left;
    width: 14.28%; height: rem(59);

    @include breakpoints(small) { height: rem(84); }
    @include breakpoints(medium) { height: rem(140); }

    span {
      position: absolute;
      top: 50%; left: 50%;
      @include transform(translate(-50%,-50%));
    }
  }
  .c-calendar__day {
    @include font(gotham,black);
    font-size: rem(14);
    color: color(gray,light);

    @include breakpoints(small) { font-size: rem(16); }
    @include breakpoints(medium) { font-size: rem(40); }
  }
  .c-calendar__date {
    @include font(gotham,book);
    font-size: rem(24);
    color: color(gray,light);

    @include breakpoints(small) {
      @include font(gotham,thin);
      font-size: rem(48);
    }
    @include breakpoints(medium) { font-size: rem(72); }

    &.has-event {
      @include font(gotham,bold);
      color: color(red);
      cursor: pointer;
      &:after {
        content: attr(data-calendar-events);
        display: block;
        position: absolute;
        bottom: 0; right: 0; left: 0;
        width: rem(12); height: rem(12);
        padding: rem(1);
        margin: auto;
        @include font(gotham,bold);
        font-size: rem(9);
        line-height: 1;
        color: color(white);
        text-align: center;
        background-color: color(gray,light);
        -webkit-border-radius: rem(6);
        -moz-border-radius: rem(6);
        border-radius: rem(6);
      }
    }
    &.is-current {
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        width: rem(44); height: rem(44);
        margin: auto;
        background-color: color(gray,lighter);
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        @include breakpoints(small) { width: rem(100); height: rem(100); }
        @include breakpoints(medium) { width: rem(130); height: rem(130); }
      }
    }
  }

  .c-calendar__close {
    position: absolute;
    top: rem(18); right: rem(18);
    z-index: 1;
    cursor: pointer;
  }

  .c-calendar__bar {
    position: relative;
    height: rem(40);
    background-color: color(white,dirty);
    border-bottom: rem(1) solid color(gray,light);
    &__copy {
      position: absolute;
      width: 100%; height: 100%;
      background-color: color(white,dirty);
      z-index: 11;
    }
    &__icon {
      position: absolute;
      left: 0; right: 0; top: rem(4);
      width: rem(68); height: rem(68);
      margin: 0 auto;
      background-color: color(white,dirty);
      border: rem(1) solid color(gray,light);
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      z-index: 10;
      cursor: pointer;
      svg {
        position: absolute;
        left: 0; right: 0; bottom: rem(10);
        margin: 0 auto;
      }
    }
  }

    // modifier
