// block
.c-gallery {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  padding: 0 rem(23);

  @include breakpoints(small) { padding: 0 rem(39); }
  @include breakpoints(medium) {
    overflow: hidden;
    padding: 0;
    margin: 0 auto;
  }

  .c-carousel__arrows {
    display: none;
    @include transition(all .5s);

    @include breakpoints(small) {
      display: block;
      width: rem(29);
    }
    @include breakpoints(medium) { width: rem(56); }
    svg.o-icon {
      @include breakpoints(small) {
        top: rem(-91); bottom: 0;
        width: rem(29);
      }
      @include breakpoints(medium) {
        top: rem(-60);
        width: rem(56);
      }
    }

    &--left {
      display: none !important;
      @include breakpoints(small) { display: block !important; left: rem(-14); }
      @include breakpoints(medium) { left: rem(40); }
    }

    &--right {
      bottom: rem(120); right: rem(-8);
      .o-icon {
        &.o-icon--arrow-right-c { top: auto; bottom: rem(-20); margin: 0; }
      }
      @include breakpoints(small) {
        top: 0; bottom: 0; right: rem(-14);
      }
      @include breakpoints(medium) { right: rem(40); }
      .o-icon--next-r {
        display: none !important;
        @include breakpoints(small) { display: block !important; }
      }
    }
    .o-icon--arrow-right-c {
      display: block !important;
      transition: visibility .5s $ease-in-out 0s, opacity .5s $ease-in-out 0s;
      @include breakpoints(small) { display: none !important; }
    }
  }
}


  // element
  .c-gallery__head {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    z-index: 1;
  }
  .c-gallery__body {
    position: relative;
    width: 100vw;
    padding: rem(20) 0;
    margin: 0 rem(-24);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translateY(0);
    transform-origin: top center;
    transition: all .5s $ease-in-out 0s;

    @include breakpoints(small) {
      width: 100%;
      padding: 0; margin: 0;
    }

    &.is-open {
      transform: translateY(150px);

      .c-gallery__content {
        visibility: hidden;
        opacity: 0;
      }

      .c-carousel__arrows {
        .o-icon--arrow-right-c {
          visibility: hidden;
          opacity: 0;
        }
      }

      .c-gallery__ctrl {
        visibility: hidden;
        opacity: 0;

        @include breakpoint(small) {
          visibility: visible;
          opacity: 1;
        }
      }

      @include breakpoints(small) {
        transform: translateY(100px);
        .c-gallery__image {
          max-height: calc(40vh - 100px);
        }
      }
      // new media query
      @media (min-width: 650px) and (min-height: 900px) {
        transform: translateY(80px);
        .c-gallery__image { max-height: calc(40vh); }
      }

      @include breakpoints(medium) {
        .c-gallery__image { max-height: calc(50vh - 70px); }
      }
    }

    &.is-open--up {

      @include breakpoints(medium) {
        transform: translateY(-110px);
        .c-gallery__image { max-height: calc(50vh - 140px); }
        .c-gallery__content {
          visibility: hidden;
          opacity: 0;
        }
      }

      .c-gallery__content {
        visibility: hidden;
        opacity: 0;
      }

      .c-carousel__arrows {
        .o-icon--arrow-right-c {
          visibility: hidden;
          opacity: 0;
        }
      }

      .c-gallery__ctrl {
        visibility: hidden;
        opacity: 0;

        @include breakpoint(small) {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
  .c-gallery__foot {
    position: absolute;
    bottom: 0; left: 0;
    width: 100%;
    padding: rem(18) 0;
    z-index: 1;
    transform-origin: top center;
    transition: transform .5s $ease-in-out 0s;

    @include breakpoints(medium) { padding: 0; }

    &.is-open {
      transform: translateY(156px);
      @include breakpoints(small) { transform: none; }
    }

    a.is-active {
      .o-label { color: color(red); }
    }
  }
  .c-gallery__controls {
    position: absolute;
    top: 0; left: calc(-50% + 50vw);
    width: 100%;
    padding: rem(19) rem(23);
    z-index: 1;
    transform: translateY(0);
    transition: transform .5s $ease-in-out 0s;

    @include breakpoints(small) { padding: rem(29) rem(39); }
    @include breakpoints(medium) { padding: rem(21) rem(39); }

    &.is-move {
      transform: translateY(156px);

      @include breakpoints(small) { transform: translateY(170px); }
    }
  }
  .c-gallery__thumbnail {
    overflow: hidden;
    visibility: hidden;
    display: block;
    position: absolute;
    width: 100vw;
    padding: rem(24) 0 rem(24) rem(24);
    margin: 0;
    transform: translateY(-156px);
    transition: transform .5s $ease-in-out 0s, height .5s $ease-in-out 0s, visibility .1s $ease-in-out .5s;

    @include breakpoints(small) {
      padding: rem(40) 0 rem(40) rem(40);
      transform: translateY(-170px);
    }

    &.is-show {
      visibility: visible;
      @include transform(translateY(0));
      transition: transform .5s $ease-in-out 0s, height .5s $ease-in-out 0s, visibility .1s $ease-in-out 0s;
    }

    &__item {
      display: inline-block;
      float: left;
      height: rem(130);
      margin-right: rem(10);
      border: rem(1) solid color(gray,lighter);
      &:not(:first-child) {
        margin: 0 rem(5);
        @include breakpoints(small) { margin: 0 rem(10); }
      }
      img {
        height: 100%;
        opacity: 1;
        @include transition(all $speed-trans);
      }

      &:hover { img { @include breakpoints(medium) { opacity: 0.8; } } }
    }

    &__ctrl {
      visibility: hidden;
      display: inline-block;
      position: absolute;
      left: 50%;
      @include transform(translateX(-50%));
      opacity: 0;
      @include transition(visibility .5s, opacity .5s);

      @include breakpoints(small) {
        visibility: visible;
        opacity: 1;
      }
      &.is-show {
        @include breakpoints(small) {
          visibility: visible;
          opacity: 1;
        }
      }
      .o-list li {
        @include breakpoints(small) {
          padding: 0 rem(11);
          &:nth-child(2) { padding: 0 rem(17) 0 rem(18); }
        }
        &:after {
          display: none;
          @include breakpoints(small) { display: block; }
        }
        &:first-child,
        &:last-child {
          visibility: hidden;
          @include breakpoints(small) { visibility: visible; }
        }
      }
    }
  }
  .c-gallery__item {
    display: block;
    position: relative;
    width: 100%;

    &__container {
      display: table;
      margin: 0 auto;
    }
  }
  .c-gallery__image {
    overflow: hidden;
    display: table-cell !important;
    position: relative;
    left: 50%;
    max-width: 100%; max-height: calc(50vh - 50px);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translateX(-50%);
    transition: max-height .5s $ease-in-out 0s;

    @include breakpoints(small) { max-height: calc(40vh); }
    @include breakpoints(medium) { max-height: calc(50vh); }
  }
  .c-gallery__content {
    visibility: hidden;
    position: relative;
    display: table-caption;
    caption-side: bottom;
    min-height: rem(44);
    padding: rem(16) rem(24) 0;
    opacity: 0;
    transition: all .1s $ease-in-out 0s;

    @include breakpoints(small) {
      padding: rem(25) 0 0;
      margin: 0 auto;
    }
    @include breakpoints(medium) {
      padding: rem(13) 0 0;
    }

    &.is-visible {
      visibility: visible;
      opacity: 1;
    }
  }
  .c-gallery__title {
    overflow: hidden;
    max-height: rem(24);
    padding: 0 rem(24);
    margin-bottom: rem(17);
    @include font-sizing(rem(14),rem(24));
    color: color(gray);
    text-align: center;

    @include breakpoints(small) { font-size: rem(12); }
    @include breakpoints(medium) {
      max-width: rem(900);
      margin-left: auto;
      margin-right: auto;
      font-size: rem(14);
    }
  }
  .c-gallery__caption {
    overflow: hidden;
    position: relative;
    min-height: rem(72);
    max-height: rem(72);
    padding-right: rem(40);
    @include font(tiempos,light);
    color: color(gray,light-1);

    @include breakpoints(small) {
      min-height: auto;
      padding-right: rem(162);
      @include font(tiempos,italic);
    }
  }
  .c-gallery__social {
    position: relative;
    padding: rem(15) 0 0;
    text-align: center;

    @include breakpoints(small) {
      position: absolute;
      top: rem(9); right: 0;
      padding: rem(10) 0;
    }
    @include breakpoints(medium) { top: rem(-3); }

    .o-list { display: inline-block; }
  }
  .c-gallery__ctrl {
    display: inline-block;
    position: absolute;
    right: rem(24);
    bottom: rem(87);

    @include breakpoints(small) { display: none; }
  }
  .c-gallery__arrows {
    &--right { margin-left: rem(5); }
  }
  .c-gallery__articles {
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100vw; max-width: 100%;
    padding: rem(12) rem(8);
    transform-origin: top center;
    transform: scaleY(0);
    transition: transform .1s $ease-in-out 0s;


    @include breakpoints(medium) {
      left: 50%;
      max-width: rem(1430);
      padding-top: 0;
      padding-bottom: 0;
      margin-top: 0;
      text-align: center;
      transform: translateY(0) translateX(-50%);
      transition: transform .5s $ease-in-out 0s;
    }

    &.is-show {
      transform: scaleY(1);

      @include breakpoints(medium) { transform: translateY(-289px) translateX(-50%); }
      @include breakpoints(large) { transform: translateY(-309px) translateX(-50%); }
    }
    &.slick-slider {
      .slick-list {
        @include breakpoints(medium) { max-height: rem(252); }
      }
      .c-tile--gallery {
        @include breakpoints(medium) { float: left; }
      }
    }

    &__toggle {
      display: block;
      position: absolute;
      left: 0; bottom: 0;
      width: 100%; height: rem(70);
      padding: rem(15) 0 rem(20);
      z-index: 1;
      background-color: color(white);
      transition: transform .5s $ease-in-out 0s !important;

      @include breakpoints(medium) { transform: translateY(0); }

      &.is-active {
        @include breakpoints(medium) { transform: translateY(-304px); }
      }
    }

    .slick-dots {
      position: relative;
      padding: rem(10) 0;
      li {
        background-color: color(gray,lighter);
        &.slick-active { background-color: color(red); }
      }
    }

    .c-article--tile {
      .c-article__image {
        padding-bottom: 68.88%;
        margin-bottom: rem(10);
        @include breakpoints(small) { margin-bottom: rem(6); }
      }
      .o-meta__title {
        height: rem(48);
        max-height: rem(48);
        margin-top: rem(5);
        @include font-sizing(rem(14),rem(24));
        @include breakpoints(small) {
          height: 60px; max-height: 60px;
          margin-top: rem(7);
          @include font-sizing(rem(14), rem(20));
        }
      }
      .o-meta__category {
        padding-bottom: rem(4);
        margin-top: 0;
        font-size: rem(16);
        @include breakpoints(small) { padding-bottom: rem(7); }
        @include breakpoints(medium) { padding-bottom: rem(5); }
      }
    }
    .c-loader {
      display: block;
      float: left;
      outline: none;
    }
  }

  .c-gallery__loader {
    display: none;
    position: absolute;
    width: 100%;
    padding: rem(10) 0;

    .c-loader { padding: 0; }

    &.is-show { display: block; }
  }

    .c-loader--load-more {
      display: block;

      &.is-hidden { display: none; }
    }
