// Initial CSS - Please update

/*div.login-register-container {
   display:none;
   position:fixed;
   top:200px;
   z-index: 999;
   box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
   background-color: #FFFFFF;
}

div.login-container {
    float: left;
    width:300px;
}

div.register-container {
    float:right;
    width:300px;
}

form#register{
    background-color: #FFFFFF;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 40px 25px 25px 25px;
    color: #878787;
    font-size: 11px;
}

form#login{
    background-color: #FFFFFF;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 40px 25px 25px 25px;
    color: #878787;
    font-size: 11px;
}
form#login p.status{
    text-align: center;
    display: none;
}

a.login_button{
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 7px 5px 7px;
    background-color: #FFF;
    border-radius: 3px;
    border: 1px solid #DCDCDC;
    color: #333;
    text-decoration: none;
    font-size: 11px;
}

.login_overlay{
    height: 100%;
    width: 100%;
    background-color: #F6F6F6;
    opacity: 0.9;
    position: fixed;
    z-index: 998;
}*/
