.forgot-password--container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 578px;
  background: rgba(255,255,255,0.9);
  z-index: 10;
  overflow: auto;
  display: none;
  @include breakpoints(small) {
    height: 100vh;
  }
}
.forgot-password-wrapper {
  width: 100%;
  overflow: hidden;
  @include breakpoints(small) {
  }
  @include breakpoints(medium) {
  }
  h1 {
    @include font(gotham,bold);
    text-align: center;
    display: block;
    margin: 0 auto;
    position: relative;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0.01em;
    margin: 100px auto 33px;
    width: 250px;
    padding-bottom: 37px;
    @include breakpoints(small) {
      font-size: 42px;
      line-height: 48px;
      margin: 229px auto 33px;
      width: 480px;
      padding-bottom: 43px;
    }
    @include breakpoints(medium) {
      font-size: 60px;
      line-height: 70px;
      margin: 293px auto 60px;
      width: 700px;
      padding-bottom: 43px;
    }
    &::after {
      content: '';
      display: block;
      height: 1px;
      background: #222;
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 114px;
      @include transform(translateX(-50%));
      @include transition(0.5s);
      @include breakpoints(small) {
        width: 114px;
      }
      @include breakpoints(medium) {
        width: 113px;
      }
    }
  }
  h2 {
    display: block;
    text-align: center;
    @include font(tiempos,light);
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.01em;
    width: 90%;
    margin: 0 auto 40px;
    @include breakpoints(small) {
      font-size: 24px;
      line-height: 40px;
      letter-spacing: 0.01em;
      width: 650px;
      margin: 0 auto 76px;
    }
    @include breakpoints(medium) {
      font-size: 32px;
      line-height: 40px;
      letter-spacing: 0.01em;
      width: 820px;
      margin: 0 auto 76px;
    }
  }
  p {
    display: block;
    margin: 0 auto;
    height: auto;
    //border: 1px #c32929 solid;
    position: relative;
    width: 371px;
    @include breakpoints(small) {
      margin-bottom: 400px;
    }
    @include breakpoints(medium) {
      margin-bottom: 414px;
    }

    input[type=text] {
      display: block;
      margin: 0 auto;
      height: 57px;
      margin: 1px;
      border: 1px #c32929 solid;
      padding: 0 128px 0 16px;
      width: 371px;
      @include font(tiempos,light);
      font-size: 18px;
      letter-spacing: 0.01em;
    }
    input[type=submit] {
      display: block;
      margin: 0 auto;
      height: 53px;
      float: left;
      border: 0;
      padding: 0;
      width: 112px;
      background: #c32929;
      color: #fff;
      @include font(gotham,bold);
      font-size: 12px;
      letter-spacing: 0.01em;
      position: absolute;
      right: 1px;
      top: 2px;
      &:hover {
        @include breakpoints(medium) {
          background: #af2525;
        }
      }
    }
    .errormessage {
      font-size: 12px;
    }
  }
}
.closeforget {
  position: absolute;
  right: 20px;
  top: 30px;
  cursor: pointer;
  @include breakpoints(small) {
    top: 130px;
    right: 40px;
  }
  @include breakpoints(medium) {
    top: 138px;
    right: 32px;
  }
  svg {
    width: 18px;
    height: 18px;
  }
}
