// block
.o-form {
  display: block;
}

// element
.o-form__item {}

.o-form__group {
  display: inline-block;
  position: relative;
  width: 100%;
}

// modifier
.o-form--newsletter {
  width: 100%;
  .o-form__item {
    margin: rem(8) 0;
    position: relative;
    &.o-form__item--half {
      @include breakpoints(medium) {
        display: block;
        float: left;
        width: 50%;
        padding: 0 rem(4);
        &:first-child {
          padding-left: 0;
        }
        &:nth-child(2) {
          padding-right: 0;
        }
      }
    }
    .message {
      width: 100%;
      position: absolute;
    }
  }
  .o-form__group {
    width: 100%;
    max-width: 100%;
    @include breakpoints(small) {
      width: 360px;
      max-width: 100%;
    }
    & + & {
      @include breakpoints(small) {
        margin: 0 rem(3);
      }
    }
    &.o-form__group--tb {
      .o-input {
        padding-right: rem(98);
      }
    }
  }
  .o-input {
    display: block;
    width: 100%;
    height: rem(58);
    padding-right: rem(15);
    line-height: rem(36);
  }
  .o-button {
    position: absolute;
    top: 0;
    bottom: 0;
    right: rem(2);
    height: rem(54);
    padding: 0 rem(24) 0 rem(25);
    margin: auto 0;
  }
}

.o-form--newsletter-unsubscribe {
  width: 100%;
  .o-form__item {
    margin: rem(8) 0;
    position: relative;
    &.o-form__item--half {
      @include breakpoints(medium) {
        display: block;
        float: left;
        width: 50%;
        padding: 0 rem(4);
        &:first-child {
          padding-left: 0;
        }
        &:nth-child(2) {
          padding-right: 0;
        }
      }
    }
    .message {
      position: absolute;
      width: 100%;
      text-align: center;
      @include font(gotham, bold);
      font-size: rem(12);
      text-transform: uppercase;
      display: block;
      margin: 0;
    }
  }
  .o-form__group {
    width: 100%;
    max-width: 100%;
    & + & {
      @include breakpoints(small) {
        margin: 0 rem(3);
      }
    }
    &.o-form__group--tb {
      .o-input {
        @include breakpoints(small) {
          padding-right: rem(98);
        }
        @include breakpoints(medium) {
          padding-right: rem(98);
        }
      }
    }
  }
  .o-input {
    display: block;
    width: 100%;
    height: rem(58);
    padding-right: rem(15);
    line-height: rem(36);
    &::-webkit-input-placeholder {
      color: color(gray, light) !important;
    }
    &:-moz-placeholder {
      /* Firefox 18- */
      color: color(gray, light) !important;
    }
    &::-moz-placeholder {
      /* Firefox 19+ */
      color: color(gray, light) !important;
    }
    &:-ms-input-placeholder {
      color: color(gray, light) !important;
    }
  }
  .o-button {
    height: rem(54);
    padding: 0 rem(24) 0 rem(25);
    margin: 2px 0;
    width: 100%;
    @include breakpoints(small) {
      position: absolute;
      top: 0;
      bottom: 0;
      right: rem(2);
      margin: auto 0;
      width: auto;
    }
    &.disabled {
      background-color: color(gray, light-1);
    }
  }
}

.o-form--invert {
  .o-input {
    background-color: transparent;
    border-color: color(white);
    color: color(white);
  }
  .o-button {
    background-color: color(white);
    line-height: rem(30);
    color: color(red);
  }
}

.o-form--burger {
  position: relative;
  .o-form__group {
    display: block;
    width: 100%;
  }
  .o-input {
    width: 100%;
    padding-bottom: 0px;
    text-align: center;
    border: 0;
    @include font(gotham, bold);
    @include font-sizing(rem(12), rem(36));
    color: color(gray);
    &::-webkit-input-placeholder {
      color: color(gray);
    }
    &:-moz-placeholder {
      color: color(gray);
    }
    &::-moz-placeholder {
      color: color(gray);
    }
    &:-ms-input-placeholder {
      color: color(gray);
    }
  }
  .o-button {
    padding: 0;
    &:hover {
      @include breakpoints(medium) {
        background-color: transparent;
        color: color(red, dark);
      }
    }
  }
  .message {
    width: 100%;
    text-align: center;
    @include font(gotham, bold);
    color: color(red);
    font-size: rem(12);
    text-transform: uppercase;
    display: block;
    margin: 0;
  }
}

.o-form--card {
  position: relative;
  .o-input,
  .o-textarea {
    width: 100%;
    height: rem(44);
    background: transparent;
    border: rem(1) solid color(gray, light-2);
    @include font(gotham, medium);
    font-size: rem(14);
  }
  .o-textarea {
    height: rem(246);
    resize: none;
  }
  .o-button {
    padding: rem(9) rem(25);
  }
  .c-card__item {
    span {
      font-size: rem(11);
      font-weight: 800;
      text-transform: uppercase;
      @include font(gotham, bold);
      color: color(red);
      letter-spacing: 0.025em;
      display: none;
      &.adjust {
        margin-top: -10px;
      }
    }
    &.error {
      .o-input,
      .o-textarea {
        border-color: color(red);
      }
      span {
        display: inherit;
      }

      // for card only
      // fix for FHH-1022 on preprod
      &.is-hidden {
        display: none;
      }
      &--success {
        display: block;
        margin-top: 10px;
        &.is-hidden {
          display: none;
        }

        @include font(tiempos,light);
        @include font-sizing(rem(22),rem(30));
        color: color(red);

        h3 {
          @include font(tiempos,italic);
          @include font-sizing(rem(38));
          color: color(red);
          text-transform: capitalize;
        }

        p {
          &:first-of-type {
             margin-top: rem(7);
          }
        }

      }

    }
  }
  .message {
    width: 100%;
    position: absolute;
    text-align: center;
    @include font(gotham, bold);
    color: color(red);
    font-size: rem(12);
    text-transform: uppercase;
    display: block;
    margin: 0;
  }
}

.o-form--filter {
  .o-form__group {
    .o-label {
      overflow: hidden;
      position: absolute;
      top: 0;
      left: rem(50);
      max-height: rem(32);
      max-width: rem(140);
      text-align: left;
      cursor: pointer;
      @include breakpoints(medium) {
        max-width: rem(180);
      }
    }
    .o-button {
      margin: 0 rem(3);
    }
  }
}

@import "objects/form/button";
@import "objects/form/input";
@import "objects/form/checkbox";