// block
.o-section {
  position: relative;
  padding-top: rem(34);
  padding-bottom: rem(34);
  background-color: color(white);
  @extend .clearfix;
  &.has-overlay {
    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: black;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      opacity: .8;
    }
  }
}

// element
.o-section__head {
  position: relative;
  &--secondary {
    margin-top: rem(-62);
    @include breakpoints(medium) {
      margin-top: rem(-74);
    }
    h6 {
      padding: rem(17) 0 rem(10);
      margin-left: rem(66);
      @include breakpoints(small) {
        margin-left: rem(90);
      }
      @include breakpoints(medium) {
        margin-left: rem(150);
      }
    }
  }
  &--tertiary {
    @include breakpoints(small) {
      margin-bottom: rem(20) !important;
    }
    @include breakpoints(medium) {
      padding-top: rem(16);
      margin-bottom: rem(-5) !important;
    }
    .o-section__sub-title {
      top: rem(-60);
      @include breakpoints(small) {
        top: 32%;
        left: 0;
      }
      @include breakpoints(medium) {
        top: 21.5%;
      }
    }
    .c-watermark--daily {
      position: relative;
      top: rem(24);
      @include breakpoints(small) {
        padding-bottom: 12.5%;
      }
    }
  }
}

.o-section__body {
  @extend .clearfix;
  & + & {
    display: none;
    @include breakpoints(small) {
      display: block;
    }
  }
}

.o-section__foot {
  border-top: rem(1) solid color(gray, lighter);
  text-align: center;
  position: relative;
}

.o-section__title {
  margin-bottom: rem(50);
  padding: 0 0 rem(25);
  @include breakpoints(medium) {
    margin-bottom: rem(80);
    padding: rem(40) 0;
  }
  &--trending {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.o-section__sub-title {
  position: absolute;
  top: 0;
  bottom: 0;
  height: rem(66);
  margin: auto;
  line-height: 1;
  .c-title--underscore {
    @include font-sizing(rem(24), rem(48));
    &:before {
      top: rem(19);
      width: rem(32);
      margin-right: rem(5);
    }
    @include breakpoints(small) {
      @include font-sizing(rem(32), rem(30));
      &:before {
        width: rem(68);
      }
    }
    @include breakpoints(medium) {
      @include font-sizing(rem(40), rem(48));
      &:before {
        top: rem(34);
        width: rem(120);
        margin-right: rem(10);
      }
    }
  }
  .c-title--sub {
    top: rem(-10);
    margin-left: rem(37);
    @include font-sizing(rem(14), rem(16));
    @include breakpoints(small) {
      top: rem(3);
      margin-left: rem(73);
    }
    @include breakpoints(medium) {
      top: rem(8);
      margin-left: rem(129);
      font-size: rem(30);
    }
  }
  @include breakpoints(small) {
    top: 13%;
    bottom: auto;
  }
  @include breakpoints(medium) {
    top: auto;
    bottom: 37%;
    left: 0;
    height: rem(50);
    margin-left: rem(-18);
  }
}

// modifier
body.u-no-scroll .o-section--hero {
  z-index: -1;
}

.o-section--hero {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  .before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: -1;
    opacity: 0;
  }
  &.is-overlay {
    .before {
      background-color: color(gray);
      z-index: 3;
      opacity: 0.8;
      &.is-hide {
        opacity: 1;
        background-color: #fff;
      }
    }
  }
  & + .o-body {
    position: relative;
    top: 100%;
    .o-main {
      padding-top: 0;
    }
  }
}

.o-section--no-padding {
  padding: 0;
}

.o-section--social-nav {
  position: relative;
  width: 100%;
  padding-top: rem(9);
  color: color(white);
  background-color: color(red);
  @include transition(all .3s $ease-in-out-cubic 0s);
  @include breakpoints(small) {
    padding-top: rem(37);
    padding-bottom: rem(36);
  }
  @include breakpoints(medium) {
    padding-top: rem(55);
    padding-bottom: rem(65);
  }
  .o-container {
    position: relative;
    padding: 0;
  }
  .o-section__title {
    padding-top: 0;
    padding-bottom: rem(25);
    margin-bottom: rem(-1);
    color: color(white);
    &:after {
      width: rem(41);
      background-color: color(brown);
    }
    @include breakpoints(small) {
      padding-bottom: rem(26);
      margin-bottom: rem(1);
    }
    @include breakpoints(medium) {
      line-height: rem(45);
    }
  }
  .o-section__body {
    max-width: rem(400);
    margin-left: auto;
    margin-right: auto;
    margin-top: rem(19);
    @include font(tiempos);
    @include font-sizing(rem(18), rem(24));
    @include breakpoints(medium) {
      margin-top: rem(19);
      @include font-sizing(rem(24), rem(30));
    }
    p {
      margin: 0 0 rem(2) 0;
    }
    .o-valign {
      height: rem(58);
      margin-top: rem(35);
      @include breakpoints(small) {
        margin-top: rem(25);
      }
      @include breakpoints(medium) {
        margin-top: rem(60);
      }
    }
  }
  a {
    svg.o-icon,
    .o-icon {
      fill: color(white);
      @include transform(scale(1));
      @include transition(all 0.25s);
    }
    &:hover {
      svg.o-icon,
      .o-icon {
        @include breakpoints(medium) {
          @include transform(scale(1.10));
        }
      }
    }
  }
  .o-form-container {
    margin: rem(27) 0 rem(-27);
    @include breakpoints(medium) {
      margin-bottom: rem(14);
    }
  }
  &.is-active {
    @include breakpoints(small) {
      visibility: visible;
      top: 0 !important;
      z-index: 12;
    }
  }
  .c-block {
    &:not(:last-child) {
      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: rem(290);
        height: rem(1);
        margin: auto;
        background: color(red, dark);
        @include breakpoints(small) {
          top: 0;
          left: auto;
          right: 0;
          bottom: 0;
          width: rem(1);
          height: calc(100% - 25px);
          margin-top: rem(25);
        }
        @include breakpoints(medium) {
          height: calc(100% - 59px);
        }
      }
    }
  }
  .c-block--half {
    display: block !important;
    float: left;
    padding: rem(60) rem(18) rem(65);
    @include breakpoints(small) {
      padding: rem(20) rem(40);
    }
    &:last-child {
      padding-top: rem(52);
      padding-bottom: rem(5);
      @include breakpoints(small) {
        padding-top: rem(20);
        padding-bottom: rem(20);
      }
    }
  }
  .o-list {
    display: inline-block;
    top: 0;
    margin-top: rem(12);
    @include breakpoints(small) {
      top: 50%;
      margin-top: 0;
    }
    li:after {
      background-color: color(red, dark) !important;
    }
  }
  .o-section--social--nav__close {
    opacity: 0;
    position: absolute;
    top: rem(-20);
    right: rem(20);
    cursor: pointer;
    transition-delay: 0s;
    @include breakpoints(medium) {
      right: rem(35);
    }
    @include breakpoints(large) {
      right: auto;
      left: calc( 50% + (1342px / 2));
    }
    svg.o-icon,
    .o-icon {
      @include breakpoints(small) {
        width: rem(20);
        height: rem(20);
      }
      @include breakpoints(medium) {
        width: rem(18);
        height: rem(18);
      }
    }
  }
  &--fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 15;
    transform: scaleY(0);
    transform-origin: top center;
    transition: transform .3s $ease-in-out 0s;
    .c-block {
      opacity: 0;
      transition-delay: 0s;
    }
  }
  &.is-active {
    @include breakpoints(small) {
      visibility: visible;
      transform: scaleY(1);
      z-index: 15;
    }
    .c-block {
      opacity: 1;
      transition: opacity .5s $ease-in-out;
      @include breakpoints(small) {
        transition-delay: .7s;
        &:nth-child(2) {
          transition-delay: .6s !important;
        }
      }
    }
    .o-section--social--nav__close {
      opacity: 1;
      transition: opacity .3s $ease-in-out .8s;
    }
  }
  .message {
    @include font(gotham, bold);
    font-size: rem(12);
    text-transform: uppercase;
    display: block;
    margin: rem(18) 0 0 0;
  }
  .is-hidden {
    display: none;
  }
}

.social-nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.o-section--world {
  margin-top: rem(125);
  padding-bottom: rem(82);
  @include breakpoints(small) {
    padding-top: rem(70);
    margin-top: rem(137);
  }
  @include breakpoints(medium) {
    padding-bottom: 0;
    margin-top: rem(140);
  }
  .c-carousel__arrows {
    top: rem(-100);
    width: rem(54);
    padding: 0;
    svg.o-icon {
      height: rem(33);
    }
  }
  .c-clock__body,
  .c-clock__details {
    cursor: pointer;
  }
  .c-tab__head,
  .c-tab__content {
    .slick-list {
      &.draggable {
        @include breakpoints(medium) {
          cursor: default;
        }
      }
      .o-meta__date {
        margin-bottom: rem(5);
        @include breakpoints(small) {
          text-align: center;
        }
        @include breakpoints(medium) {
          text-align: left;
        }
      }
      .o-meta__duration {
        margin-bottom: rem(7);
        @include breakpoints(small) {
          margin-bottom: rem(4);
          text-align: center;
        }
        @include breakpoints(medium) {
          text-align: left;
        }
      }
    }
  }
  .c-tab__head {
    @include breakpoints(small) {
      margin-bottom: rem(-70);
    }
    @include breakpoints(medium) {
      margin-bottom: rem(-30);
    }
  }
  .slick-dots {
    bottom: rem(-62);
    li {
      background-color: color(gray, lighter);
      &.slick-active {
        background-color: color(red);
      }
    }
    @include breakpoints(small) {
      bottom: rem(-45);
    }
  }
  .c-editor--tile {
    .c-editor__photo {
      width: rem(109); height: rem(109);
    }
    .c-editor__name {
      overflow: hidden;
      max-height: rem(64);
      padding-top: rem(10);
      margin-bottom: 0;
      color: color(gray);
    }
  }
  .c-article__image,
  .c-editor__head {
    margin-bottom: rem(33) !important;
    @include breakpoints(small) {
      margin-bottom: rem(18) !important;
    }
    @include breakpoints(medium) {
      margin-bottom: rem(25) !important;
    }
  }
  .c-article {
    @include breakpoints(small) {
      text-align: left;
      .c-article__icon svg {
        margin: 0 auto;
        & + span {
          left: rem(8);
          margin: 0 auto;
        }
      }
    }
    @include breakpoints(medium) {
      text-align: left;
      .c-article__icon svg {
        margin: 0;
        & + span {
          left: rem(18);
          margin: 0;
        }
      }
    }
  }
  .o-meta__category {
    margin: 0 0 rem(12);
  }
  .o-meta__title {
    margin-bottom: rem(14);
    @include breakpoints(small) {
      margin-bottom: rem(20);
      font-size: rem(16);
    }
  }
  .o-meta__date {
    margin-bottom: rem(5);
  }
  .o-meta__duration {
    margin-bottom: rem(7);
    @include breakpoints(small) {
      margin-bottom: rem(4);
    }
  }
}

.o-section--daily {
  padding-top: rem(90);
  padding-bottom: rem(7);
  @include breakpoints(small) {
    padding-top: rem(37);
    padding-bottom: rem(55);
  }
  @include breakpoints(medium) {
    padding-top: rem(85);
    padding-bottom: rem(134);
  }
  .o-section__head {
    @include breakpoints(small) {
      padding-left: rem(15);
      padding-right: rem(15);
      margin-bottom: rem(-24);
    }
    @include breakpoints(medium) {
      padding-left: rem(40);
      padding-right: rem(40);
      margin-bottom: rem(-59);
      margin-left: rem(-20);
      margin-right: rem(-20);
    }
  }
  .o-section__body {
    @include breakpoints(small) {
      left: calc(-50vw + 50%);
      width: 100vw;
      padding-left: rem(40);
      margin: 0;
    }
    @include breakpoints(medium) {
      left: 0;
      width: 100%;
      max-width: 100%;
      padding-left: 0;
    }
  }
  .o-meta__title {
    margin-bottom: rem(17);
    line-height: rem(24);
  }
  .o-meta__date {
    line-height: rem(16.29);
    @include breakpoints(medium) {
      line-height: rem(18);
    }
  }
}

.o-section--editor {
  padding-bottom: 0;
  margin-top: rem(150);
  @include breakpoints(small) {
    margin-top: rem(135);
  }
  @include breakpoints(medium) {
    margin-top: rem(262);
  }
  .o-container {
    padding: 0 rem(30);
  }
  .c-editor {
    background: transparent;

    &:after { display: none; }
  }
  .c-editor__head {
    top: rem(-172);
    @include breakpoints(medium) {
      top: rem(-213);
    }
  }
  .c-editor__body {
    margin-top: rem(-178);
    @include breakpoints(small) {
      margin-top: rem(-173);
    }
    @include breakpoints(medium) {
      margin-top: rem(-215);
    }
  }
}

.o-section--social {
  z-index: 1;
  padding: rem(50) 0 0;
  @include breakpoints(medium) {
    padding: rem(50) 0 rem(50);
  }
  .o-container {
    padding: 0;
  }
  .o-section__title {
    margin-bottom: 0;
    padding-top: 0;
    margin-top: 11px;
    padding-bottom: 30px;
    &:after {
      width: 62px;
    }
  }
  .c-title--section {
    padding-bottom: 37px;
  }
  .o-button {
    line-height: 42px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .o-section__foot {
    border: 0;
    margin-top: 55px;
    background-color: color(white);
    .o-button-container {
      transform: translateY(-50%);
    }
    @include breakpoints(medium) {
      border-top: rem(1) solid color(gray, lighter);
    }
  }
}

.o-section--trending {
  padding-top: rem(65);
  padding-bottom: rem(63);
  @include breakpoints(small) {
    padding-bottom: rem(56);
  }
  @include breakpoints(medium) {
    padding-top: rem(143);
    padding-bottom: rem(94);
  }
  .o-container {
    padding: 0 rem(28);
    @include breakpoints(small) {
      padding: 0 rem(40);
    }
    @include breakpoints(medium) {
      padding: 0 rem(40);
    }
  }
  .o-section__body {
    margin: 0 rem(-28) 0 rem(-24);
    @include breakpoints(small) {
      margin: 0 rem(-40) 0 rem(-12);
    }
    @include breakpoints(medium) {
      margin: 0;
    }
  }
  .o-section__title {
    padding-bottom: rem(10);
    @include breakpoints(small) {
      padding-bottom: rem(16);
    }
    @include breakpoints(medium) {
      padding-bottom: rem(18);
    }
  }
  .c-article--tile {
    .c-article__image {
      margin-bottom: rem(23);
      @include breakpoints(small) {
        margin-bottom: rem(23);
      }
      // @include breakpoints(small) { margin-bottom: rem(10); }
    }
    .o-meta__tag {
      @include breakpoints(medium) {
        margin-bottom: 0;
      }
    }
    .o-meta__title {
      margin-bottom: rem(6);
      @include breakpoints(small) {
        max-height: rem(72);
        margin-bottom: rem(3);
      }
      @include breakpoints(medium) {
        height: rem(84);
        max-height: rem(84);
        margin-bottom: rem(13);
        line-height: rem(30);
      }
    }
    .o-meta__date {
      margin-bottom: rem(6);
      line-height: rem(18);
    }
    .o-meta__type {
      line-height: rem(32);
    }
  }
  &.o-bg--red {
    .c-tile--trend {
      &:before {
        background-color: #b22525;
      }
    }
    .c-title--featured {
      color: color(white);
      &:before {
        border-color: color(white);
      }
    }
    color: color(white);
    .o-meta__category {
      color: color(white);
      &:after {
        background-color: color(white);
      }
    }
    .o-meta__tag {
      color: color(white);
    }
    .o-meta__title {
      color: color(white);
      a {
        color: color(white);
      }
    }
    .o-meta__type {
      color: color(gray);
      a {
        color: color(gray);
      }
    }
    .c-article__icon {
      svg {
        fill: color(white);
      }
    }
  }
}

.o-section--trending {
  padding: rem(0px) rem(0px) rem(0px) rem(0px);
  height: rem(694px);
  @include breakpoints(small) {
    height: rem(661px);
  }
  @include breakpoints(medium) {
    height: rem(810px);
  }
  .o-container {
    padding: 0 0 0 rem(28);
    height: inherit;
    @include breakpoints(medium) {
      padding: 0 rem(28);
    }
    .o-section__title {
      &:before {
        width: rem(64px);
        @include breakpoints(small) {
          width: rem(66px);
        }
        @include breakpoints(medium) {
          width: rem(120px);
        }
      }
      @include font(tiempos, light);
      font-size: rem(32px);
      color: color(red);
      line-height: rem(32px);
      letter-spacing: .05em;
      padding: rem(66px) rem(0px) rem(42px) rem(19px);
      margin: rem(0px) rem(0px) rem(0px) rem(0px);
      @include breakpoints(small) {
        @include font(tiempos, light);
        font-size: rem(30px);
        color: color(red);
        line-height: rem(30px);
        letter-spacing: 0.05em;
        padding: rem(64px) rem(0px) rem(52px) rem(19px);
      }
      @include breakpoints(medium) {
        @include font(tiempos, light);
        font-size: rem(40px);
        color: color(red);
        line-height: rem(48px);
        letter-spacing: 0.05em;
        padding: rem(142px) rem(0px) rem(49px) rem(31px);
      }
    }
    .o-section__body {
      margin: rem(0px) rem(0px) rem(0px) rem(0px);
      .slick-list {
        .slick-track {
          @include breakpoints(small) {}
          @include breakpoints(medium) {}
          .c-tile {
            &:first-child {}
            width: 491px;
            //max-width: rem(291px);
            padding: rem(0px) rem(20px) rem(0px) rem(20px);
            @include breakpoints(small) {
              //max-width: rem(269px);
              padding: rem(0px) rem(12px) rem(0px) rem(12px);
            }
            @include breakpoints(medium) {
              //max-width: rem(346px);
              padding: rem(0px) rem(44px) rem(0px) rem(44px);
            }
            &:not(:last-child):before {
              height: rem(398px);
              width: rem(1px);
              margin: rem(66px) rem(0px) rem(0px) rem(0px);
              background-color: color(gray, lighter);
              @include breakpoints(small) {
                //margin: rem(27px) rem(0px) rem(0px) rem(0px);
                height: rem(392px);
              }
              @include breakpoints(medium) {
                margin: 70px 0px 0px 0px;
                height: rem(418px);
              }
            }
            .c-article {
              .c-article__container {
                .o-meta__category {
                  display: block;
                  @include font(tiempos, light);
                  font-size: rem(18px);
                  color: color(gray);
                  line-height: rem(24px);
                  letter-spacing: 0.025em;
                  padding: rem(0px) rem(0px) rem(16px) rem(0px);
                  margin: rem(0px) rem(0px) rem(0px) rem(0px);
                  &:after {
                    width: rem(130px);
                    height: rem(1px);
                    background-color: color(gray);
                  }
                }
                .c-article__image {
                  //width: rem(251px);
                  height: rem(167px);
                  padding: rem(0px) rem(0px) rem(0px) rem(0px);
                  margin: rem(26px) rem(0px) rem(23px) rem(0px);
                  @include breakpoints(small) {
                    //width: rem(245px);
                    height: rem(163px);
                    margin: rem(26px) rem(0px) rem(10px) rem(0px);
                  }
                  @include breakpoints(medium) {
                    //width: rem(258px);
                    height: rem(173px);
                    margin: rem(30px) rem(0px) rem(10px) rem(0px);
                  }
                  .c-article__link {}
                  img {
                    height: 100%;
                  }
                  .c-article__image__icon {
                    height: rem(34px);
                    width: rem(24px);
                    @include video-icon(24, 34, color(red));
                    @include breakpoints(small) {}
                    @include breakpoints(medium) {
                      height: rem(58px);
                      width: rem(41px);
                      @include video-icon(41, 58, color(red));
                    }
                  }
                  .o-letter {
                    span {
                      font-size: rem(225px);
                      @include breakpoints(small) {
                        font-size: rem(219px);
                      }
                      @include breakpoints(medium) {
                        font-size: rem(233px);
                      }
                    }
                  }
                }
                .o-meta__tag {
                  display: inherit;
                  @include font(gotham, bold);
                  font-size: rem(12px);
                  color: color(red);
                  line-height: rem(30px);
                  letter-spacing: 0.01em;
                  margin-top: -11px;
                  padding-bottom: 3px;
                  @include breakpoints(small) {
                    margin-top: 0px;
                    padding-top: 2px;
                  }
                  @include breakpoints(medium) {
                    margin-top: 0px;
                    padding-top: 2px;
                    padding-bottom: 1px;
                  }
                }
                .o-meta__title {
                  margin: auto;
                  height: auto;
                  max-height: rem(74px);
                  @include breakpoints(small) {}
                  @include breakpoints(medium) {
                    max-height: 91px;
                  }
                  a {
                    @include font(gotham, bold);
                    font-size: 14px;
                    color: color(gray);
                    line-height: rem(24px);
                    letter-spacing: 0.01em;
                    @include breakpoints(medium) {
                      @include font(gotham, bold);
                      font-size: rem(16px);
                      color: color(gray);
                      line-height: rem(30px);
                      letter-spacing: 0.01em;
                    }
                  }
                }
                .o-meta__date {
                  @include font(gotham, bold);
                  font-size: rem(12px);
                  color: color(gray, light);
                  line-height: rem(18px);
                  letter-spacing: 0.01em;
                  margin: rem(0px) rem(0px) rem(0px) rem(0px);
                  padding: rem(11px) rem(0px) rem(0px) rem(0px);
                  @include breakpoints(small) {
                    @include font(gotham, medium);
                    font-size: rem(12px);
                    color: color(gray, light);
                    line-height: rem(18px);
                    letter-spacing: 0.01em;
                    padding-top: rem(11px);
                  }
                  @include breakpoints(medium) {
                    @include font(gotham, medium);
                    font-size: rem(12px);
                    color: color(gray, light);
                    line-height: rem(16.29px);
                    letter-spacing: 0.01em;
                  }
                }
                .o-meta__type {
                  span {
                    @include font(gotham, medium);
                    font-size: rem(14px);
                    color: color(red);
                    line-height: rem(32px);
                    letter-spacing: 0.01em;
                    @include breakpoints(medium) {
                      @include font(gotham, medium);
                      font-size: rem(14px);
                      color: color(red);
                      line-height: rem(30px);
                      letter-spacing: 0.01em;
                    }
                  }
                }
                .o-meta__duration {
                  @include font(gotham, bold);
                  font-size: rem(12px);
                  color: color(brown);
                  line-height: rem(20px);
                  letter-spacing: 0.01em;
                }
                .c-article__icon {
                  .o-icon.o-icon--gallery {
                    margin: rem(9px) rem(0px) rem(0px) rem(0px);
                    @include breakpoints(small) {
                      margin: rem(-8px) rem(0px) rem(0px) rem(0px);
                    }
                    @include breakpoints(medium) {}
                  }
                  .o-icon--interview {
                    margin: rem(17px) rem(0px) rem(0px) rem(0px);
                    @include breakpoints(small) {
                      margin: rem(2px) rem(0px) rem(0px) rem(0px);
                    }
                    @include breakpoints(medium) {}
                  }
                  .o-icon--gallery__count {
                    @include font(gotham, bold);
                    font-size: rem(10px);
                    color: color(white);
                    line-height: rem(20px);
                    letter-spacing: 0.05em;
                  }
                  .o-icon.o-icon--play {
                    margin: rem(11px) rem(0px) rem(0px) rem(0px);
                    @include breakpoints(small) {
                      margin: rem(-2px) rem(0px) rem(0px) rem(0px);
                    }
                    @include breakpoints(medium) {}
                  }
                }
              }
            }
          }
          .category:not(:last-child):before {
            margin: rem(27px) rem(0px) rem(0px) rem(0px);
            @include breakpoints(medium){
              margin: rem(31px) rem(0px) rem(0px) rem(0px);
            }
          }
        }
      }
    }
  }
}

.o-section--trending.o-bg--red {
  height: rem(672px);
  //padding-bottom: rem(9px);
  background-color: color(red);
  @include breakpoints(small) {
    height: rem(592px);
  }
  @include breakpoints(medium) {
    height: rem(756px);
  }
  .o-container {
    .o-section__title {
      color: color(white);
      padding: rem(66px) rem(0px) rem(42px) rem(19px);
      &:before {
        @include breakpoints(small) {}
        @include breakpoints(medium) {}
      }
      @include breakpoints(small) {
        padding: rem(24px) rem(0px) rem(52px) rem(19px);
      }
      @include breakpoints(medium) {
        padding: rem(142px) rem(0px) rem(42px) rem(19px);
      }
    }
    .c-title--underscore:before {
      border-bottom: 1px solid color(white);
    }
    .o-section__body {
      .slick-list {
        .slick-track {
          @include breakpoints(small) {}
          @include breakpoints(medium) {}
          .c-tile {
            &:first-child {}
            @include breakpoints(small) {}
            @include breakpoints(medium) {}
            &:not(:last-child):before {
              background-color: color(gray, trendingred);
              @include breakpoints(small) {
                height: rem(402px);
              }
              @include breakpoints(medium) {}
            }
            .c-article {
              .c-article__container {
                .o-meta__category {
                  display: block;
                  color: color(white);
                  &:after {
                    background-color: color(white);
                  }
                }
                .c-article__image {
                  @include breakpoints(small) {
                    padding-bottom: rem(0px);
                    margin-bottom: rem(0px);
                  }
                  @include breakpoints(medium) {}
                  .c-article__link {}
                  img {}
                  .c-article__image__icon {
                    @include breakpoints(small) {}
                    @include breakpoints(medium) {}
                  }
                  .o-letter {
                    span {}
                  }
                }
                .o-meta__tag {
                  color: white;
                  @include breakpoints(small) {
                    padding: 10px 0px 0px 0px;
                  }
                  @include breakpoints(medium) {}
                }
                .o-meta__title {
                  @include breakpoints(medium) {}
                  a {
                    color: color(white);
                    @include breakpoints(medium) {}
                  }
                }
                .o-meta__date {
                  color: color(gray, white);
                  @include breakpoints(small) {
                    padding-top: 15px;
                  }
                  @include breakpoints(medium) {}
                }
                .o-meta__type {
                  padding-top: rem(7px);
                  span {
                    color: color(gray);
                    @include breakpoints(medium) {}
                  }
                }
                .o-meta__duration {
                  margin-top: rem(-2px);
                  color: color(brown);
                }
                .c-article__icon {
                  svg {
                    fill: color(white);
                  }
                  .o-icon.o-icon--gallery {
                    @include breakpoints(small) {
                      margin: 0px 0px 0px 0px;
                    }
                  }
                  .o-icon--interview {
                    @include breakpoints(small) {
                      margin: 2px 0px 0px 0px;
                    }
                    @include breakpoints(medium) {}
                  }
                  .o-icon--gallery__count {
                    color: color(gray);
                  }
                  .o-icon.o-icon--play {
                    @include breakpoints(small) {
                      margin: -3px 0px 0px 0px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.o-section--landing {
  .o-container {
    max-width: 100%;
  }
}

.o-section--landing-video {
  .c-article--tile {
    .o-meta__title {
      margin-top: rem(6);
      line-height: rem(30);
    }
    .o-meta__date {
      margin-top: rem(1);
    }
  }
  .c-article__icon {
      margin-top: rem(16);
  }
}

.o-section--pov {
  padding-top: rem(53);
  @include breakpoints(small) {
    padding-top: rem(49);
  }
  @include breakpoints(medium) {
    padding-top: rem(54);
  }
  .parallaxbg {
    display: block;
  }
  .o-container {
    position: relative;
  }
  .o-section__body {
    margin: 0 rem(5);
    @include breakpoints(small) {
      margin: 0 rem(-12);
    }
    @include breakpoints(medium) {
      margin: 0 rem(-15);
    }
  }
  .c-tile--one-half {
    margin-bottom: rem(64);
  }
  .c-title--section {
    @include breakpoints(small) {
      margin-bottom: rem(46);
    }
  }
  .c-article--tile {
    .c-article__body {
      margin: rem(6) 0 rem(10);
      @include breakpoints(small) {
        margin-bottom: rem(6);
      }
      @include breakpoints(medium) {
        margin-top: rem(14);
        margin-bottom: 0;
      }
    }
  }
  .o-meta__title {
    a {
      color: #fff;
    }
    &:hover a {
      color: color(red, dark);
    }
  }
  .o-meta__date {
    color: color(gray);
    @include breakpoints(small) {
      margin-top: rem(11);
    }
    @include breakpoints(medium) {
      margin-top: rem(27);
    }
  }
  .o-meta__type {
    margin-top: rem(9);
    @include breakpoints(small) {
      margin-top: rem(5);
    }
  }
  .o-meta__duration {
    margin-bottom: rem(18);
    color: color(white);
    @include breakpoints(small) {
      margin-bottom: rem(0);
    }
    @include breakpoints(medium) {
      line-height: rem(20);
    }
  }
  .c-article--tile {
    .c-article__icon {
      svg {
        fill: color(white);
        &:hover {
          fill: color(white) !important;
        }
      }
      .o-icon--gallery__count {
        color: color(brown, light-1);
      }
    }
  }
  .c-article__body {
    p {
      color: color(white);
    }
  }
  .o-section__foot {
    margin: 0 rem(5);
    margin-bottom: rem(26);
    border-top-color: #dcd09e;
    @include breakpoints(small) {
      margin: 0 rem(0);
      margin-bottom: rem(22);
    }
    @include breakpoints(medium) {
      margin: 0 rem(0);
      margin-bottom: rem(106);
    }
  }
}

.o-section--event {
  .o-section__title {
    color: color(white);
    &:after {
      background-color: color(white);
    }
  }
  .o-meta__title {
    color: color(white);
    a {
      color: color(white);
    }
  }
  .c-article__body {
    color: color(white);
  }
}

.o-section--other {
  .o-section__title {
    color: color(white);
    &:after {
      background-color: color(white);
    }
  }
  .c-article--tile {
    .c-article__image {
      margin-bottom: rem(4);
    }
    .c-article__body {
      margin: 0 auto;
    }
    .o-meta__title {
      height: auto !important;
      margin-bottom: rem(10);
      -webkit-line-clamp: initial !important;
      color: color(white);
      a {
        color: color(white);
      }
    }
    .c-article__body {
      height: auto !important;
      margin-bottom: rem(11);
      color: color(white);
    }
  }
  .o-section__body {
    margin-bottom: rem(48);
    @include breakpoints(small) {
      margin: 0 rem(-40);
    }
    @include breakpoints(medium) {
      margin: 0 rem(-34);
    }
  }
  .o-section__foot {
    border-top-color: color(blue, light-s);
  }
}

.o-section--mobile {
  .c-tile {
    &:nth-of-type(1n+4) {
      @media (max-width: 650px) {
        display: none !important;
      }
    }
  }
}

.o-section--written {
  margin-top: rem(25);
  @include breakpoints(small) { margin-top: 0; }
  .o-section__body {
    margin-top: rem(-41);
    @include breakpoints(small) {
      margin-top: 0;
    }
  }
  .c-article--tile {
    .o-meta__category {
      margin-top: rem(46);
      @include breakpoints(small) {
        margin-top: rem(-20);
      }
    }
    .o-meta__title {
      margin-bottom: rem(10);
      @include breakpoints(medium) {
        margin-bottom: rem(16);
      }
    }
    .o-meta__type {
      margin-bottom: rem(-3);
    }
    .o-meta__duration {
      margin-bottom: rem(13);
      @include breakpoints(small) { margin-bottom: rem(17); }
      @include breakpoints(medium) { margin-bottom: rem(2); }
    }
  }
  .c-tile {
    padding-bottom: rem(45);
    width: 100%;
    @include breakpoints(small) {
      width: 50%;
      padding: rem(45);
    }
    @include breakpoints(medium) {
      width: 25%;
    }
    &:last-child {
      padding-bottom: 0;
      &::after {
        display: block;
        right: 0;
        width: rem(1);
        height: 100%;
        margin-top: rem(30);
        background: none;

        @include breakpoints(small) { background-color: color(gray,lighter); }
      }

      @include breakpoints(small) { padding-bottom: rem(45); }
    }
  }
}

.o-section--tile {
  .o-section__body--tile {
    @include breakpoints(small) {
      margin: 0 rem(-12);
    }
    @include breakpoints(medium) {
      margin: 0;
    }
  }
}

.o-section--unsubscribe {
  .o-section__body {
    text-align: center;
  }
  .c-block--half {
    @include breakpoints(small) {
      width: 100vw!important;
    }
  }
  .o-form-container {
    margin: 0 auto;
    @include breakpoints(small) {
      width: 500px;
    }
  }
}

//WATCH LIST
.o-watch-list {
  .watchlist-bg {
    @include transition(background 1600ms);
    display: block;
    position: absolute;
    z-index: 0;
    background: #f7f6f0; //#BA9C5C;
    width: 100%;
    @include calc(height, '100% - 280px');
    left: 0;
    bottom: 0;
    height: 0;
    @include breakpoints(small) {
      height: 40%;
    }
    @include breakpoints(medium) {
      //height: 38%;
      @include calc(height, '50% + 160px');
    }
    &.glow {
      @include transition(background 1600ms);
      background: #BA9C5C;
    }
    &.two-row {
      @include breakpoints(small) {
        height: 57%;
      }
      @include breakpoints(medium) {
        height: 38%;
      }
    }
  }
  &.two-cols {
    .watchlist-bg {
      &.two-row {
        @include breakpoints(small) {
          height: 40%;
        }
        @include breakpoints(medium) {
          height: 35%;
        }
      }
    }
  }
}
