// block
.c-burger {
  visibility: hidden;
  position: fixed;
  width: 100%;
  height: auto;
  max-height: calc(100vh - 90px);
  top: rem(90);
  background-color: color(white);
  opacity: 0;
  z-index: -1;
  transition-delay: 0s;

  @include breakpoints(small) {
    top: rem(148);
    max-height: calc(100vh - 148px);
  }
  @include breakpoints(medium) {
    top: rem(112);
    max-height: calc(100vh - 112px);
    height: auto;
    .c-nav { min-height: rem(560); }
  }

  .c-nav--burger {
    .c-menu__item {
      display: block;
      opacity: 0;

      .c-menu--sub {
        overflow: hidden;
        display: block;
        visibility: visible;
        max-height: 0;
        padding: rem(5) 0 rem(4);
        @include transition(all 1s);

        @include breakpoints(small) { padding: rem(0); }

        .c-menu__item {
          @include breakpoints(medium) {
            display: inline-block;
            margin-right: 9px;
            margin-left: 0;
            &:after { right: -15px; }
            &:not(:first-child) { margin-left: 0; }
          }
        }
      }
    }
  }
}


  .c-burger__newsletter {
    height: rem(152) !important;
  }

  // element
  .c-burger__util {
    visibility: hidden;
    opacity: 0;
    height: rem(77);
    border-top: rem(1) solid color(gray,lighter);
    transform: translateY(rem(40));
    @include transition-delay(0s);
    background-color: color(white);

    @include breakpoints(small) { display: none; }

    .c-block--half {
      float: left;
      width: 50%;
      padding: rem(21);
      text-align: center;
      &:first-child {
        border-right: rem(1) solid color(gray,lighter);
      }
    }

    .o-list--horizontal.c-menu--small {
      height: 37px;
    }
  }
  .c-burger__bottom {
    width: 100%;
    padding: rem(40) 0 rem(30);
    border-top: rem(1) solid color(gray,lighter);
    opacity: 0;
    @include transform(translateY(rem(100)));
    @include transition-delay(0s);

    @include breakpoints(small) {
      @include transform(translateY(rem(40)));
    }
    @include breakpoints(medium) {
      padding: rem(10) 0 rem(22);
      border-top: 0;

      .o-container { position: relative; }
    }

  }
  .c-burger__box { width: 100%; }
  .c-burger__links {
    position: relative;
    padding-bottom: rem(46);
    z-index: 1;

    @include breakpoints(medium) { padding-bottom: 0; }
    .c-menu__item {
      @include breakpoints(medium) {
        padding-left: rem(12);
        padding-right: rem(12);
      }
    }
    .c-menu__link {
      @include breakpoints(medium) {
        color: color(gray,light-1);
      }
    }
  }
  .c-burger__copy {
    @include font(tiempos,light);
    @include font-sizing(rem(14),rem(24));
    color: color(gray,light-1);
    text-align: center;
    @include breakpoints(small) {
      @include font(tiempos,italic);
    }
    @include breakpoints(medium) {
      @include valign();
      position: absolute;
      left: rem(34);
      width: 25%;
      @include font(tiempos,italic);
      text-align: left;
    }
    @media (min-width: 1220px) {
      width: 40%;
    }
  }
  .c-burger__articles {
    display: block;
    visibility: hidden;
    opacity: 0;
    @include transition-delay(0s);

    .o-container {
      padding: 0;
      padding-bottom: rem(10);
      @include breakpoints(small) {
        padding-bottom: rem(40);
      }
      @include breakpoints(medium) {
        border-bottom: rem(1) solid color(gray,lighter);
      }
    }
    .o-list {
      display: inline-block;

      li {
        display: block;
        height: rem(76); width: auto;
        padding: 0 rem(14);
        text-align: center;
        &:after {
          display: block;
          height: rem(22);
        }

        @include breakpoints(small) {
          display: inline-block;
          width: auto; height: auto;
          padding: 0 rem(27);
          border-top: 0;
        }

        a {
          display: block;
          @include valign();

          @include breakpoints(small) {
            display: inline-block;
            top: 0;
            @include transform(translateY(0));
          }

          .o-label {
            line-height: rem(85);
            font-size: rem(15);
            font-family: TiemposLight;
            text-transform: none;
            color: #c32929;

            &:hover {
              color: #af2525;
            }

            @include breakpoints(small) {
              line-height: rem(85);
              font-size: rem(36);
            }
          }
        }
      }
    }
  }


    // modifier
    .c-burger--active {
      visibility: visible;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      display: block;
      opacity: 1;
      z-index: 8;
      border-top: rem(3) solid color(gray,lighter);
      @include transition(opacity .2s $ease-in-out, visibility);
      .c-menu {
        .c-menu__item {
          @include transition(opacity .5s $linear);
          $delays: 0.5 0.6 0.7 0.8 0.9 1.0 1.1 1.2;
          @each $delay in $delays {
            $i: index($delays,$delay);
            &:nth-child(#{$i}) {
              opacity: 1;
              transition-delay: #{$delay}s;
            }
          }
        }
      }
      .c-burger__articles {
        visibility: visible;
        opacity: 1;
        @include transition(all .8s linear 1.1s);
      }
      .c-burger__bottom {
        @include transform(translateY(0));
        @include transition(transform .4s $ease-in-out 1.4s, opacity .5s 1.5s);
        opacity: 1;

        @include breakpoints(small) {
          @include transition(transform .4s $ease-in-out 1.1s, opacity .1s 1.2s);
        }
      }
      .c-burger__util {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
        @include transition(transform .4s $ease-in-out 1.2s, opacity .5s 1.3s);

        $delays: 0.8 0.9 1.0 1.1 1.2 ;
        @each $delay in $delays {
          $d: index($delays,$delay);
          &:nth-child(#{$d}) {
            visibility: visible;
            opacity: 1;
            transition-delay: #{$delay}s;
          }
        }
      }
    }
