
$fonts: (
 gotham: (
   default: '"GothamBook"',
   medium: '"GothamMedium"',
   bold: '"GothamBold"',
   black: '"GothamBlack"',
   thin: '"GothamThin"'
 ),
 tiempos: (
   default: '"TiemposRegular"',
   italic: '"TiemposRegularItalic"',
   light: '"TiemposLight"',
   lightitalic: '"TiemposLightItalic"',
   medium: '"TiemposMedium"',
   mediumitalic: '"TiemposMediumItalic"'
 ),
 notera: (
   default: '"Notera"'
 )
);